[submodule "sqlite"]
	path = externals/sqlite
	url = https://git.build2.org/packaging/sqlite/sqlite.git 

[submodule "openssl-3.3.2"]
	path = external/openssl-3.3.2
	url = https://github.com/openssl/openssl.git
